body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 218, 203);
  padding-top: 25px;
  color: rgb(94, 83, 83);
}

button {
  margin-right: 14px;
}

.container {
  background: rgb(246, 246, 247);
  border-radius: 50px;
  padding: 30px 30px;
}

a {
  text-align: center;
}
