.search-bar {
  font-family: "Montserrat", sans-serif;
}
.search-button {
  background-color: rgba(112, 128, 144, 0.4);
  border: 1px solid black;
}
.search-button:hover {
  background-color: rgb(112, 128, 144);
  border: 1px solid black;
}
.current-button {
  background-color: rgba(112, 128, 144, 0.4);
  border: 1px solid black;
}
.current-button:hover {
  background-color: rgba(112, 128, 144);
  border: 1px solid black;
}
