.current-temperature {
  font-family: "Montserrat", sans-serif;
  color: rgb(178, 86, 53);
  margin-top: 86px;
  margin-left: 50px;
}
.degrees {
  font-size: 110px;
}
.c-symbol,
.f-symbol {
  padding: 10px;
  border-radius: 30%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
