h1 {
  color: rgb(178, 86, 53);
  display: block;
  font-size: 60px;
  font-weight: 200;
  line-height: 1.5;
  margin: 20px 0 0 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(81, 80, 80);
  font-size: 16px;
  font-weight: 100;
  line-height: 1.2;
  list-style-type: none;
}

.location {
  font-size: 80px;
  margin-top: 90px;
  color: rgb(178, 86, 53);
  white-space: nowrap;
}
.date {
  font-size: 20px;
  margin-top: -20px;
}
.current-temperature {
  font-family: "Montserrat", sans-serif;
  color: rgb(178, 86, 53);
  margin-top: 86px;
  margin-left: 50px;
}
.degrees {
  font-size: 110px;
}
.c-symbol,
.f-symbol {
  padding: 10px;
  border-radius: 30%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
