h1 {
  color: rgb(105, 204, 209);
  display: block;
  font-size: 70px;
  font-weight: 200;
  line-height: 1.5;
  margin: 50px 0 0 0;
  text-align: center;
}
h2 {
  color: rgb(109, 117, 125);
  display: block;
  font-weight: 250;
  line-height: 0;
  text-align: center;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(109, 117, 125);
  font-size: 32px;
  font-weight: 150;
  line-height: 1.2;
  list-style-type: none;
}
.weather-box {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.search-bar {
  font-family: "Montserrat", sans-serif;
}
.search-button {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(112, 128, 144, 0.4);
  border: 1px solid black;
}
.search-button:hover {
  background-color: rgb(112, 128, 144);
  border: 1px solid black;
}
.current-button {
  background-color: rgba(112, 128, 144, 0.4);
  border: 1px solid black;
}
.current-button:hover {
  background-color: rgba(112, 128, 144);
  border: 1px solid black;
}
.loading-page {
  margin: 0 auto;
  text-align: center;
  display: block;
}
